.mini-card {
    background-color: #c4c4c4;
    border-radius:20px;
    /* max-width: 165px;
    max-height: 165px; */
    width: 160px;
    height: 160px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.mini-card img {
    width:100%;
    margin: 0 auto;
}